.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.counter-number {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 0.7rem;
  font-size: 4rem;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
}
